<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.min.js"></script>
<script src="/javascripts/angular/app.js"></script>
<script src="/javascripts/angular/controllers/tasks.js"></script>
<script src="/javascripts/angular/controllers/task.js"></script>

<div id="main" ng-app="mvcDemo">
  <div id="main-view" ng-view>
  </div>
</div>
