<!--
<link rel='stylesheet' href='/stylesheets/style.css' />
-->

<div id="main">
  <div class="">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          <img src="/images/sample-1.jpg">
          <span class="card-title">Tasks - MVC Demo</span>
        </div>
        <div class="card-content">
          <p>Study MVC by examples</p>
        </div>
        <div class="card-action">
        </div>
      </div>
    </div>
  </div>
</div>
