<button class="waves-effect waves-light btn" ng-click="openAddTaskModal()">Add Task</button>
<hr/>
<table class="bordered responsive-table">
    <caption>
        <h4>All Tasks</h4>
    </caption>
    <thead>
        <tr>
            <th data-field="id">Name</th>
            <th data-field="description">Description</th>
            <th data-field="action">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="task in tasks" class="collection-item">
            <td>
                <a href="#/task/{{task.id}}">{{task.name}}</a>
            </td>
            <td>
                <span>{{task.description}}</span>
            </td>
            <td>
                <a href="#/" class="secondary-content">
                    <i class="material-icons dp48">delete</i>
                </a>
                <a href="#/" class="secondary-content">
                    <i class="material-icons dp48">description</i>
                </a>
            </td>

        </tr>
    </tbody>
</table>

<!-- Modal Structure -->
<div id="add-task-content" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#/" class="modal-action modal-close waves-effect waves-green btn-flat ">Agree</a>
    </div>
</div>
